{% extends "base.html" %}

{% block content %}
    <h1>Bookclub List</h1>
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'bookclub:books_create' %}">Add a Book!</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if contributed %}
            <h2>Books Contributed</h2>
            <ul>
                {% for book in contributed %}
                    <li><a href="{% url 'bookclub:books_detail' book.pk %}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if bookmarked %}
            <h2>Books Bookmarked</h2>
            <ul>
                {% for book in bookmarked %}
                    <li><a href="{% url 'bookclub:books_detail' book.pk %}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if reviewed %}
            <h2>Books Reviewed</h2>
            <ul>
                {% for book in reviewed %}
                    <li><a href="{% url 'bookclub:books_detail' book.pk %}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    <h2>All Books</h2>
    <ul>
        {% for book in all_books %}
            <li><a href="{% url 'bookclub:books_detail' book.pk %}">{{ book.title }}</a></li>
        {% empty %}
            <p>No books available.</p>
        {% endfor %}
    </ul>
{% endblock %}