{%extends 'base.html' %}
{%load static%}

{%block content%}
<h2>Commissions</h2>

{% if request.user.is_authenticated %}
    <h3>My Commissions</h3>
    <ul>
        {% for commission in user_commissions %}
            <li>
                <a href="{% url 'commissions:commissions-detail' commission.pk %}">{{ commission.title }}</a> 
                - {{ commission.get_status_display }}
            </li>
        {% empty %}
            <li>You have not created any commissions.</li>
        {% endfor %}
    </ul>

    <h3>Applied Commissions</h3>
    <ul>
        {% for commission in applied_commissions %}
            <li>
                <a href="{% url 'commissions:commissions-detail' commission.pk %}">{{ commission.title }}</a> 
                - {{ commission.get_status_display }}
            </li>
        {% empty %}
            <li>You have not applied to any commissions.</li>
        {% endfor %}
    </ul>
{% endif %}

<ul>
    {% for commission in commissions %}
        <li>
            <a href="{% url 'commissions:commissions-detail' commission.pk %}">{{ commission.title }}</a> 
            - {{ commission.get_status_display }}
        </li>
    {% endfor %}
</ul>

{% if request.user.is_authenticated %}
    <li> <a href="{% url 'commissions:commissions-create'%}"> Create a Commission </a></li>
{% endif %}

{%endblock%}