{% extends "base.html" %}

{% block content %}

{% if project %}
    <h1>Edit Project</h1>
{% else %}
    <h1>Create Project</h1>
{% endif %}

<form method="post">
    {% csrf_token %}

    <p>
        <label>Title</label>
        <input type="text" name="title" maxlength="255" value="{{ project.title }}" required>
    </p>

    <p>
        <label>Category</label>
        <select name="category" required>
            {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if project.category.id == category.id %}selected{% endif %}
                >
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Description</label>
        <textarea name="description" required>{{ project.description }}</textarea>
    </p>

    <p>
        <label>Materials</label>
        <textarea name="materials" required>{{ project.materials }}</textarea>
    </p>

    <p>
        <label>Steps</label>
        <textarea name="steps" required>{{ project.steps }}</textarea>
    </p>

    <button type="submit">Save</button>
</form>

{% endblock %}